@page "{username?}"
@model Yarnball.Pages.BlogModel
@{
    ViewData["Title"] = Model.YarnballUser != null ? Model.YarnballUser.UserName : "User not found";
}

<h1 class="text-center">@ViewData["Title"]</h1>

@if (Model.YarnballUser != null)
{
    <hr />
    @foreach (var post in Model.YarnballUser.Posts.OrderByDescending(p => p.CreatedAt))
    {
        <vc:post-component post="@post" width="6"></vc:post-component>
    }
}